.social-link{
    width: 40px;
    height: 40px;
    color: white;
    display: inline-block;

    .nav-link{
        color: white;
    }
    .profile{
        background-image: url(../assets/media/images/profile-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
    }
    .hero{
        
        background-image: url(assets/media/images/Soheila.jpg);
        width: 400px;
        height: 500px;
}
.text1{
    position: absolute;
    bottom: 0;
    right: 0;
}
.text{
    text-align: justify;
}

#bg-img{
    
}