.social-link{
    width: 25px;
    height: 25px;
    color: white;
    padding: 5px;
    display: inline-block;

    .nav-link{
        color: white;
    }
    .image profile{
        background-image: url(../media/images/Soheila.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
    }
    .hero{
        position: relative;
 
}
.text1{
    position: absolute;
    bottom: 0;
    right: 0;
}
    