

/* .social-link {
    width: 40px;
    height: 40px;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 3px;
  }
   */
    /* .nav-link {
    color: white;
  }   */
  .profile {
    background-image: url(../media/images/Soheila.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    overflow: hidden;
    
  }
  .profileaside{
    overflow: hidden;
  }
  .hero {
    background-image: url(../media/images/Soheila.jpg);
    background-size: cover;
    background-position: 200px center;
    width: 100%;
    height: 600px;
    background-attachment: fixed; 
  }
  .text1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .text {
    text-align: justify;
  }
  main{
      margin-left: 25% ;
  }
  .profileText1 {
    width: 100%;
    height: 50%; 
  } 
  aside{
    z-index: 100!important;
  }
  .title-card{
    font-size: 40pt;
    color: rgb(3, 3, 56);
  }
  .card{
    width: 250px;
    height: 300px;
  }

  .factsEmoji{
    font-size: 30pt;
    color:#149ddd;
    
  }
  .facts-info{
    font-size: 30pt;
    color: #000;
  }
  
  .resume-items{
    padding: 0 0 15px 15px;
    margin-top: 1px;
    border-left: solid 2px #149ddd;
    position: relative;
  }
  .dates{
    background-color: #149ddd;
    width: 110px;
    height: 22px;
    padding-left: 12px;
  }
  .CircleEmoji{
    position: absolute;
    top: -18px;
    left: -9px;
  }
  .CircleEmoji2{
    position: absolute;
    bottom: -19px;
    left: -9px;
    
  }
  .space{
    height: 12px;
  }
  .Portfolio .nav-link{
    color: #000;
  }
  .Portfolio .nav-link.active{
    color: #149ddd;
    background-color: aliceblue;
  }
  .Portfolio .nav-link:hover{
    color: blue;
  }
  .Portfolio .nav-link:visited{
    color:rgb(70, 7, 70);
  }
  .indicator{
    width: 10px;
    height: 10px;
    background-color: blue;
  }